<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cnsukidayo.wword.admin.dao.WordMapper">

    <insert id="replaceWord">
        replace INTO word(`id`, `word_structure_id`,`divide_id`, `value`,is_deleted) values
        <foreach collection="wordCollection" item="word" index="index" separator=",">
            (#{word.id},#{word.wordStructureId},#{word.divideId},#{word.value},#{word.isDeleted})
        </foreach>
    </insert>

    <insert id="replaceWordId">
        replace INTO word_id(word, divide_id, word_id) value (#{word}, #{divideId}, #{wordId})
    </insert>


</mapper>
