<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cnsukidayo.wword.core.dao.DivideMapper">

    <insert id="copy" useGeneratedKeys="true" keyProperty="source.id">
        INSERT into divide(uuid, language_id, name, divide_type, parent_id)
        values (#{uuid}, #{source.languageId}, #{source.name}, #{source.divideType}, #{parentId})
    </insert>

</mapper>
