<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cnsukidayo.wword.auth.dao.RolePermissionMapper">
    <insert id="grantRolePermission">
        INSERT INTO role_permission(role_id, permission_id) values
        <foreach collection="permissionIdList" item="permissionId" index="index" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>

    <select id="rolePermissionPage" resultType="permission">
        SELECT permission.id,
               permission.mould,
               permission.interfaces,
               permission.path,
               permission.interface_describe,
               permission.create_time,
               permission.update_time
        FROM role_permission
                 INNER JOIN permission ON role_permission.permission_id = permission.id
        WHERE role_permission.role_id = #{roleId}
          AND role_permission.is_deleted = 0
    </select>


</mapper>
